* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

.active {
    color: #000;
    background-color: hotpink;
}

#home {
    overflow: hidden;
}

/*-------zero-preview----------*/
.zero-preview {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    transition: .3s all ease;
    opacity: 0;
}

.zero-preview .zero-box {
    position: relative;
    max-width: 1160px;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}

.zero-preview .zero-box img.zero-img {
    width: 100%;
    height: auto;
}


/*-------zero-preview----------*/

#bg {
    width: 100%;
    font-family: mFont;
}

#box {
    width: 100%;
    height: 100%;
    background: white;
    position: relative;
    padding-top: 15px;
}

.space {
    max-width: 1160px;
    margin: 0 auto;
    z-index: 999999;
}

.no-padding {
    padding: 0 !important;
}


@font-face {
    font-family: mFont;
    src: url('../fonts/avqest.ttf');
}


b {
    color: white;
    transition: .3s all;
}

.tr {
    text-align: right;
}

.tl {
    text-align: left;
}

.title {
    display: inline-block;
    width: 100%;
}

.title .title-icon {
    display: inline-block;
    width: 40px;
    height: 30px;
    vertical-align: bottom;
    background-size: cover;
}

.icon_o {
    background: url("../fonts/icon_oo.png") no-repeat center;
}

.icon_t {
    background: url("../fonts/icon_t.png") no-repeat center;
}

.title h1 {
    display: inline-block;
    font-size: 25px;
    color: black !important;
    text-align: left;
    margin: 0;
}

/*-------------nav---------*/
.navbar-default {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.6) !important;
    /*-webkit-filter: blur(2px); !*像素值越大，越模糊*!*/
    /*-moz-filter: blur(2px);*/
    /*-ms-filter: blur(2px);*/
    /*filter: blur(2px);*/
    /*filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=2, MakeShadow=false);*/
    /*background-image: url("https://images5.alphacoders.com/810/thumb-1920-810810.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 45%;
    border: none;
}

.nav-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 100%, .4);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(4px);
}

.slideUp {
    /* -webkit-transform: translateY(-100px);
     transform: translateY(-100px);*/
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    transform: translateY(-50px);
    /*transition: transform .5s ease-out;*/
    -webkit-transition: transform .3s ease;
    -o-transition: transform .3s ease;
    transition: transform .3s ease;
}

.slideDown {
    /*-webkit-transform: translateY(0);
    transform: translateY(0);*/
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    /*transition: transform .5s ease-out;*/
    -webkit-transition: transform .3s ease;
    -o-transition: transform .3s ease;
    transition: transform .3s ease;
}

.navbar-default a {
    color: white !important;
    font-size: 18px !important;
}

.navbar-default .dropdown-menu a {
    color: #000 !important;
}

.nav-bg {
    background-image: url("https://images5.alphacoders.com/810/thumb-1920-810810.jpg");
}

.navbar-header button {
    border: none;
    outline: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white !important;
}

a.navbar-brand {
    font-size: 22px !important;
    color: black !important;
}

.navbar-nav li > a {
    color: black !important;
    font-size: 14px !important;
}

.navbar-default .navbar-collapse {
    border: none;
}

.navbar-default .navbar-nav > .active > a {
    background: rgba(255, 255, 255, 0.1) !important;
    color: white !important;
}

.navbar-default .navbar-nav > li > a {
    line-height: 20px;
}

@media screen and (max-width: 768px) {
    .navbar {
        background-color: black !important;
    }

    .navbar-brand {
        padding: 15px 10px;
    }

    .navbar-default .dropdown-menu a {
        color: #fff !important;
    }

    .navbar-default {
        background-image: url("https://images5.alphacoders.com/810/thumb-1920-810810.jpg") !important;
    }
}

/*-------------nav---------*/
/*----------wavebox-----------*/

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.wavebox{
    width: 100%;
    height: auto;
}
.wavebox .waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 150px;
}

.wavebox .waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
}

.wavebox .bgTop {
    z-index: 15;
    opacity: 0.5;
}

.wavebox .bgMiddle {
    z-index: 10;
    opacity: 0.75;
}

.wavebox .bgBottom {
    z-index: 5;
}

.wavebox .wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.wavebox .waveTop {
    background-size: 50% 100px;
}

.wavebox .waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.wavebox .waveMiddle {
    background-size: 50% 120px;
}

.wavebox .waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.wavebox .waveBottom {
    background-size: 50% 100px;
}

.wavebox .waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
@media screen and (max-width: 768px) {
    .wavebox .wave {
        width: 600%;
    }
}

/*----------wavebox-----------*/

/*!*-------------topimg---------*!*/
#topimg {
    position: relative;
    width: 100%;
    height: 100vh;
    /*http://www.005.tv/uploads/allimg/170216/1516255O9-5.jpg*/
    /*https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1576511877&di=861b84ab3223e6cb2c96bfa2031831d3&imgtype=jpg&er=1&src=http%3A%2F%2Fi0.hdslb.com%2Fbfs%2Farticle%2Fc99be791b7fe6e39eb20b1a163299552a2416ac1.png*/
    /*background-image: url("https://pic.superbed.cn/item/5d7a5294451253d178923eab.jpg");*/
    /*background-image: url("https://s1.jiligame.com/images/2019/11/25/EJ-QTA6VAAAGWug.jpg");*/
    /*http://www.005.tv/uploads/allimg/170303/21015234a-5.jpg*/
    /*http://www.005.tv/uploads/allimg/190418/65-1Z41QJ322962.jpg*/
    background-image: url(../fonts/newanimate/MOSHED-2019-12-21-1-19-16.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center 0;
}

#topimg .topimg-info {
    position: absolute;
    width: 600px;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    /*box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);*/
    border-radius: 30px;
}

/*.time-countdown {*/
/*    width: 100%;*/
/*}*/

/*.time-countdown ul.countdown {*/
/*    list-style: none;*/
/*    padding: 0;*/
/*    display: block;*/
/*    text-align: center;*/
/*    margin-bottom: 5rem;*/
/*}*/

/*.time-countdown ul.countdown li {*/
/*    display: inline-block;*/
/*}*/

/*.time-countdown ul.countdown li span {*/
/*    display: inline-block;*/
/*    width: 13rem;*/
/*    font-size: 80px;*/
/*    font-weight: 300;*/
/*    line-height: 80px;*/
/*    color: white;*/
/*}*/

/*.time-countdown ul.countdown li.seperator {*/
/*    font-size: 80px;*/
/*    line-height: 70px;*/
/*    vertical-align: top;*/
/*    color: white;*/
/*}*/

/*.time-countdown ul.countdown li p {*/
/*    color: white;*/
/*    font-size: 14px;*/
/*}*/


#topimg .ctaBox {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border-radius: 100px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.ctaBox .cta {
    height: 5rem;
    cursor: pointer;
    display: block;
    padding: 0.5em 1.5em 0.5em 1.5em;
    font-family: "Raleway";
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
    overflow: hidden;
    backface-visibility: hidden;
    position: relative;
    line-height: 2.5rem;
}

.linkbox {
    position: relative;
    width: 100%;
    min-height: 12rem;
    /*background: rgba(255, 204, 255, 0.3);*/
    border-radius: 1rem;
    transition: .6s all ease;
    margin-bottom: 5rem;
}

.linkbox > a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background-image: url(http://img0.imgtn.bdimg.com/it/u=1862600021,2750465603&fm=11&gp=0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    box-shadow: 0 0 10px lightskyblue;
}

@media screen and (max-width: 768px) {
    #topimg{
        height: 100vh;
    }
    .ctaBox .cta {
        height: 4rem;
        font-size: 2rem;
        line-height: 2rem;
    }
}


.btn-text-parent {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.wrap_text {
    display: inline-block;
}

.buildin-btn-text {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
    transform: translateY(100%);
}

.buildin-btn-text .btn-letter {
    opacity: 0;
}

.btn-letter {
    display: inline-block;
    margin: 0em 0.05em;
    position: relative;
    transition: transform 300ms, opacity 300ms ease;
}

.current-btn-text .btn-letter:nth-child(1) {
    transition-delay: 39ms;
}

.current-btn-text .btn-letter:nth-child(2) {
    transition-delay: 99ms;
}

.current-btn-text .btn-letter:nth-child(3) {
    transition-delay: 149ms;
}

.current-btn-text .btn-letter:nth-child(4) {
    transition-delay: 199ms;
}

.current-btn-text .btn-letter:nth-child(5) {
    transition-delay: 249ms;
}

.current-btn-text .btn-letter:nth-child(6) {
    transition-delay: 299ms;
}

.current-btn-text .btn-letter:nth-child(7) {
    transition-delay: 349ms;
}

.current-btn-text .btn-letter:nth-child(8) {
    transition-delay: 399ms;
}

.current-btn-text .btn-letter:nth-child(9) {
    transition-delay: 449ms;
}

.current-btn-text .btn-letter:nth-child(10) {
    transition-delay: 499ms;
}

.current-btn-text .btn-letter:nth-child(11) {
    transition-delay: 549ms;
}

.current-btn-text .btn-letter:nth-child(12) {
    transition-delay: 599ms;
}

.current-btn-text .btn-letter:nth-child(13) {
    transition-delay: 649ms;
}

.current-btn-text .btn-letter:nth-child(14) {
    transition-delay: 699ms;
}

.current-btn-text .btn-letter:nth-child(15) {
    transition-delay: 749ms;
}

.current-btn-text .btn-letter:nth-child(16) {
    transition-delay: 799ms;
}

.current-btn-text .btn-letter:nth-child(17) {
    transition-delay: 849ms;
}

.current-btn-text .btn-letter:nth-child(18) {
    transition-delay: 899ms;
}

.current-btn-text .btn-letter:nth-child(19) {
    transition-delay: 949ms;
}

.current-btn-text .btn-letter:nth-child(20) {
    transition-delay: 999ms;
}

.current-btn-text .btn-letter:nth-child(21) {
    transition-delay: 1049ms;
}

.current-btn-text .btn-letter:nth-child(22) {
    transition-delay: 1099ms;
}

.current-btn-text .btn-letter:nth-child(23) {
    transition-delay: 1149ms;
}

.current-btn-text .btn-letter:nth-child(24) {
    transition-delay: 1199ms;
}

.current-btn-text .btn-letter:nth-child(25) {
    transition-delay: 1249ms;
}

.current-btn-text .btn-letter:nth-child(26) {
    transition-delay: 1299ms;
}

.current-btn-text .btn-letter:nth-child(27) {
    transition-delay: 1349ms;
}

.current-btn-text .btn-letter:nth-child(28) {
    transition-delay: 1399ms;
}

.current-btn-text .btn-letter:nth-child(29) {
    transition-delay: 1449ms;
}

.current-btn-text .btn-letter:nth-child(30) {
    transition-delay: 1499ms;
}

.buildin-btn-text .btn-letter:nth-child(1) {
    opacity: 0;
    transition-delay: 49ms;
}

.buildin-btn-text .btn-letter:nth-child(2) {
    opacity: 0;
    transition-delay: 99ms;
}

.buildin-btn-text .btn-letter:nth-child(3) {
    opacity: 0;
    transition-delay: 149ms;
}

.buildin-btn-text .btn-letter:nth-child(4) {
    opacity: 0;
    transition-delay: 199ms;
}

.buildin-btn-text .btn-letter:nth-child(5) {
    opacity: 0;
    transition-delay: 249ms;
}

.buildin-btn-text .btn-letter:nth-child(6) {
    opacity: 0;
    transition-delay: 299ms;
}

.buildin-btn-text .btn-letter:nth-child(7) {
    opacity: 0;
    transition-delay: 349ms;
}

.buildin-btn-text .btn-letter:nth-child(8) {
    opacity: 0;
    transition-delay: 399ms;
}

.buildin-btn-text .btn-letter:nth-child(9) {
    opacity: 0;
    transition-delay: 449ms;
}

.buildin-btn-text .btn-letter:nth-child(10) {
    opacity: 0;
    transition-delay: 499ms;
}

.buildin-btn-text .btn-letter:nth-child(11) {
    opacity: 0;
    transition-delay: 549ms;
}

.buildin-btn-text .btn-letter:nth-child(12) {
    opacity: 0;
    transition-delay: 599ms;
}

.buildin-btn-text .btn-letter:nth-child(13) {
    opacity: 0;
    transition-delay: 649ms;
}

.buildin-btn-text .btn-letter:nth-child(14) {
    opacity: 0;
    transition-delay: 699ms;
}

.buildin-btn-text .btn-letter:nth-child(15) {
    opacity: 0;
    transition-delay: 749ms;
}

.buildin-btn-text .btn-letter:nth-child(16) {
    opacity: 0;
    transition-delay: 799ms;
}

.buildin-btn-text .btn-letter:nth-child(17) {
    opacity: 0;
    transition-delay: 849ms;
}

.buildin-btn-text .btn-letter:nth-child(18) {
    opacity: 0;
    transition-delay: 899ms;
}

.buildin-btn-text .btn-letter:nth-child(19) {
    opacity: 0;
    transition-delay: 949ms;
}

.buildin-btn-text .btn-letter:nth-child(20) {
    opacity: 0;
    transition-delay: 999ms;
}

.buildin-btn-text .btn-letter:nth-child(21) {
    opacity: 0;
    transition-delay: 1049ms;
}

.buildin-btn-text .btn-letter:nth-child(22) {
    opacity: 0;
    transition-delay: 1099ms;
}

.buildin-btn-text .btn-letter:nth-child(23) {
    opacity: 0;
    transition-delay: 1149ms;
}

.buildin-btn-text .btn-letter:nth-child(24) {
    opacity: 0;
    transition-delay: 1199ms;
}

.buildin-btn-text .btn-letter:nth-child(25) {
    opacity: 0;
    transition-delay: 1249ms;
}

.buildin-btn-text .btn-letter:nth-child(26) {
    opacity: 0;
    transition-delay: 1299ms;
}

.buildin-btn-text .btn-letter:nth-child(27) {
    opacity: 0;
    transition-delay: 1349ms;
}

.buildin-btn-text .btn-letter:nth-child(28) {
    opacity: 0;
    transition-delay: 1399ms;
}

.buildin-btn-text .btn-letter:nth-child(29) {
    opacity: 0;
    transition-delay: 1449ms;
}

.buildin-btn-text .btn-letter:nth-child(30) {
    opacity: 0;
    transition-delay: 1499ms;
}

#topimg .cta:hover .current-btn-text .btn-letter {
    opacity: 0;
    transform: translateY(-100%);
}

#topimg .cta:hover .buildin-btn-text .btn-letter {
    opacity: 1;
    transform: translateY(-100%);
}

/*#topimg .akuya:hover {*/
/*    transform: rotate(360deg);*/
/*}*/

/*!*-------------topimg---------*!*/
/*-------------banner---------*/
.banner {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 40px;
}

.banner > .swiper-container {
    width: 100%;
    height: 100%;
    padding: 0 40px;
}

.banner > .swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.slide-img {
    position: relative;
    transform: skew(-6deg) !important;
    max-height: 200px;
    cursor: pointer;
    border: 5px solid white;
    overflow: hidden;
}

.slide-img img {
    width: 100%;
    height: 160px !important;
    transition: .3s all ease;
}

/*-------------banner---------*/
/*------------recent-news-------*/
.recent-news {
    width: 100%;
}

.recent-news .news-box {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.recent-news .news-box .news-item {
    width: 100%;
    min-height: 200px;
    background: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}

.recent-news .news-box .news-item:hover {
    box-shadow: 0 0 10px white;
}

.recent-news .news-box .news-item .news-item-cover {
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

.recent-news .news-box .news-item .news-item-cover img {
    width: 100%;
    height: 200px;
}

.news-item-msg {
    padding: 10px 30px 10px 0;
    height: 200px;
}

.news-item-msg p.clearfix-title {
    display: inline-block;
    height: 30px;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    font-size: 22px;
    color: #222 !important;
    cursor: pointer;
    transition: .3s all ease;
}

.news-item-msg > p.clearfix-title:hover {
    color: orangered !important;
}

.news-item-msg .tags {
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
}

.news-item-msg .tags span {
    display: inline-block;
    padding: 0 5px;
    margin-right: 10px;
}

.news-item-msg .tags span a {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #666666;
    text-decoration: none;
    font-weight: bold;
    transition: .3s all ease;
}

.news-item-msg .tags span a:hover {
    color: orangered !important;
}

.news-item-msg .details p {
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 25px;
    font-size: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: #222 !important;
}

.more-btn {
    display: inline-block;
    height: 40px;
    padding: 5px 10px;
    background-image: linear-gradient(to right, hotpink, transparent);
    text-align: center;
    transition: .3s all ease;
}

.more-btn:hover {
    background-color: hotpink;
}

.more-btn a {
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 992px) {
    .news-item-msg {
        padding: 10px;
    }
}

@media screen and (max-width: 768px) {
    .recent-news {
        padding: 0 15px;
    }

    .more-btn {
        display: none;
    }

    .news-item-cover, .news-item-cover > img {
        height: 150px !important;
    }

    .details {
        display: none;
    }

    .news-item-msg {
        height: auto;
    }

    .clearfix-title {
        font-size: 14px !important;
        line-height: 30px;
    }

    .tags {
        margin-bottom: 0 !important;
    }
}

/*------------recent-news-------*/

/*-------------animate-recommend----------*/
.animate-recommend {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}

.animate-recommend .title .exchange {
    display: inline-block;
    cursor: pointer;
    text-align: right;
    float: right;
    padding: 0 8px;
    border-radius: 5px;
    overflow: hidden;
    font-size: 12px;
}

.animate-recommend .title .exchange span {
    display: inline-block;
    color: #000000;
    line-height: 22px;
}

.animate-recommend .title .exchange span.xuanz {
    transform: rotate(360deg);
    transform-origin: 50% 50%;
    transition: .5s all ease;
}

/*.animate-recommend .recommend-title span:hover{*/
/*    */
/*    transition: .9s all ease;*/
/*    transform-origin: 50% 50%;*/
/*}*/
.animate-recommend .recommend-content {
    width: 100%;
}

.recommend-item {
    position: relative;
    width: 100%;
    height: 180px;
    background-color: white;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    overflow: hidden;
    cursor: pointer;
    transition: .3s all ease;
    margin-top: 20px;
}

.recommend-item .recommend-item-cover {
    width: 100%;
    max-height: 120px;
    overflow: hidden;
}

.recommend-item .recommend-item-cover img {
    width: 100%;
    height: 120px;
    transition: .3s all ease;
}

.recommend-item-msg {
    width: 100%;
    height: 60px;
    background: white;
    transition: .3s all ease;
    padding: 10px 10px;
    font-size: 0;
}

.recommend-item-msg h3 {
    display: inline-block;
    color: #000 !important;
    line-height: 25px;
    width: 100%;
    font-size: 14px;
    margin: 0;
    vertical-align: top;
}

.recommend-item-msg .recommend-table {
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 25px;
    font-size: 0;
    background: white;
}

.recommend-item-msg .recommend-table .table-item {
    height: 25px;
    display: inline-block;
    vertical-align: top;
    line-height: 25px;
    width: 33%;
    background: white;
}

.recommend-item-msg .recommend-table .table-item span {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    vertical-align: top;
    color: #a0a0a0 !important;
    line-height: 20px;
}

.recommend-item-msg .recommend-table .table-item p {
    display: inline-block;
    color: #a0a0a0 !important;
    font-size: 14px;
    vertical-align: top;
    margin: 0 0 0 5px;
}

.advert {
    width: 100%;
    height: 10rem;
    background-image: url("https://i0.hdslb.com/bfs/sycp/creative_img/201912/23bbffca4cd4bc80d38986ac7b1c2398.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}

.recent-news nav {
    text-align: center !important;
}

@media screen and (max-width: 768px) {
    .animate-recommend {
        padding: 0 15px;
    }

    .animate-recommend .col-xs-6:nth-child(odd) {
        padding-right: 7.5px !important;
    }

    .animate-recommend .col-xs-6:nth-child(even) {
        padding-left: 7.5px !important;
    }

    .animate-recommend .recommend-item {
        height: 140px;
    }

    .animate-recommend .recommend-item .recommend-item-cover, .recommend-item-cover img {
        height: 100px;
    }

    .animate-recommend .recommend-item .recommend-item-msg {
        height: 40px;
    }

    .animate-recommend .recommend-item .recommend-item-msg h3 {
        width: 100%;
        font-size: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .animate-recommend .recommend-item .recommend-table {
        display: none;
    }
}

/*-------------animate-recommend----------*/

/*--------code-study---------*/
.code-study {
    position: relative;
    width: 100%;
    height: 550px;
    /*background-image: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1574278217526&di=9d4aefb8730154d5c8c3528b6dcf4e19&imgtype=0&src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2F2018-06-01%2F5b10e086264e3.jpg");*/
    /*background-image: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1574278905621&di=0124e58574ac28ecb1d37175417408de&imgtype=0&src=http%3A%2F%2Fi557com-1251420446.picgz.myqcloud.com%2Fwp-content%2Fuploads%2F2018%2F07%2F1532424295.png%3FimageMogr2%2Finterlace%2F1%2Fcrop%2F1920x1080");*/
    /*background-image: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1574278963485&di=b27fb2e9ace2b5fb96cb672c5965b15a&imgtype=0&src=http%3A%2F%2Fi0.hdslb.com%2Fbfs%2Farticle%2Fdf7f1c28d68c8d9b1701adbdc1c72db2dc0c6e62.jpg");*/
    background-image: url("https://pic.rmb.bdstatic.com/43ec4f3ec58c83b8f082c81720387613.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 40px;
}

.code-study .info {
    width: 100%;
    padding: 80px 30px;
    height: 500px;
}

.code-study h2 {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}


/*--------code-study---------*/

/*----------live2d----------------*/
#live2d-box {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 280px;
    width: 250px;
    z-index: 999;
}

iframe {
    width: 100%;

}

/*----------live2d----------------*/
/*------------cd-top-------------*/
.cd-top{
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 150px;
    height: 150px;
    display: inline-block;
    background-image: url("../fonts/Top3.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

}
/*------------cd-top-------------*/
/*---------------foot---------------*/
#foot {
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, .2);
}


#foot .landlord img:nth-child(1) {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 350px;
    height: auto;
}

#foot .landlord img:nth-child(2) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 350px;
    height: auto;
    transform: rotateY(180deg);
}

#foot .copry {
    width: 100%;
}

#foot .copry h2 {
    text-align: center;
    font-size: 16px;
    color: white;
    line-height: 100px;
}

/*---------------foot---------------*/
